{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AnsibleDynamicInventory",
            "Effect": "Allow",
            "Action": [
                "ec2:Describe*",
                "route53:ListHostedZones",
                "route53:ListResourceRecordSets",
                "rds:Describe*",
                "elasticache:Describe*"
            ],
            "Resource": "*"
        }
    ]
}
