{
  "Statement": [
    {
      "Effect": "Allow",
      "Action": ["s3:ListBucket"],
      "Resource": ["arn:aws:s3:::{{ir_secrets_bucket}}"]
    },
    {
      "Effect": "Allow",
      "Action": [
        "s3:GetObject",
        "s3:GetObjectVersion"
        ],
      "Resource": [
      "arn:aws:s3:::{{ir_secrets_bucket}}/*"
      ]
    }
    ]
}
