{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "Stmt1448407444000",
      "Effect": "Deny",
      "Action": [
        "s3:ListBucket"
      ],
      "Resource": [
        "arn:aws:s3:::does-not-exist"
      ]
    }
  ]
}
